.header_nfce {
    background-color: #428BCA;
    color: white;
    border-color: #357EBD;
    border-top-color: rgb(53, 126, 189);
    border-top: 1px solid #357EBD;
    text-align: center;
}

.header_produto_list {
    border: 1px solid #357EBD;
    padding-left: 0px;
    padding-right: 0px;
}